{% extends 'admin/layout.njk' %}

{% block content %}
  <div class="wrapper edit">
    <h3 class="main__title">Editando Recita</h3>
    <div class="buttons">
      <form class="form-delete" action="/admin/recipes?_method=DELETE" method="post">
        <input value="{{recipe.id}}" name="id" type="hidden"> 
        <button class="button" type="submit">Deletar</button>
      </form>
      <button form="form" type="submit" class="button">Salvar</button>
    </div>
  </div>
  <form id="form" action="/admin/recipes/{{recipe.id}}/edit?_method=PUT" method="post">
    {% include 'admin/fields.njk' %}
  </form>
{% endblock %}