{% extends 'admin/layout.njk' %}

{% block content %}
  <div class="wrapper">
    <a href="admin/recipes/{{recipe.id}}/edit" class="button">Editar receita</a>
    {% include 'common/recipe-details.njk' %}
  </div>

{% endblock %}