<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% block title %}
	  <title>Foodfy</title>
  {% endblock %}
  
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="container">
		<header>
			<nav>
        <a href="/"><img class="nav__logo" src="/img/logo.png" alt="Foodfy"></a>
				<span class="nav__item"><a href="/about">Sobre</a></span>
				<span class="nav__item"><a href="/recipes">Receitas</a></span>
			</nav>
		</header>

    {% block content %} {% endblock %}
  </div>

	<footer>
		<span class="footer__span">Todos direitos reservados, receitas Foodfy.</span>
	</footer>

  <script src="/js/scripts.js"></script>
</body>

</html>