<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receitas | Foodfy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
			<nav>
        <a href="/"><img class="nav__logo" src="/img/logo.png" alt="Foodfy"></a>
        <span class="nav__item"><a href="/about.html">Sobre</a></span>
        <span class="nav__item"><a href="/recipes.html"><strong>Receitas</strong></a></span>
			</nav>
    </header>
	
		<main>

			<section class="recipes">
				<div class="card">
					<img class="card__image"  src="/img/burger.png" alt="Triple X burger">
					<h6 class="card__title">Triplo bacon burger</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/pizza.png" alt="Pizza 4 estacoes">
					<h6 class="card__title">Pizza 4 estacoes</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/lasanha.png" alt="Lasanha mac n’ cheese">
					<h6 class="card__title">Lasanha mac n’ cheese</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/espaguete.png" alt="Espaguete ao alho">
					<h6 class="card__title">Espaguete ao alho</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/doce.png" alt="Docinhos pão-do-céu">
					<h6 class="card__title">Docinhos pão-do-céu</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/asinhas.png" alt="Asinhas de frango ao barbecue">
					<h6 class="card__title">Asinhas de frango ao barbecue</h6>
					<p class="card__author">por Jorge Relato</p>
        </div>
        
        <div class="card">
					<img class="card__image"  src="/img/burger.png" alt="Triple X burger">
					<h6 class="card__title">Triplo bacon burger</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/pizza.png" alt="Pizza 4 estacoes">
					<h6 class="card__title">Pizza 4 estacoes</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/lasanha.png" alt="Lasanha mac n’ cheese">
					<h6 class="card__title">Lasanha mac n’ cheese</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/espaguete.png" alt="Espaguete ao alho">
					<h6 class="card__title">Espaguete ao alho</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/doce.png" alt="Docinhos pão-do-céu">
					<h6 class="card__title">Docinhos pão-do-céu</h6>
					<p class="card__author">por Jorge Relato</p>
				</div>
	
				<div class="card">
					<img class="card__image"  src="/img/asinhas.png" alt="Asinhas de frango ao barbecue">
					<h6 class="card__title">Asinhas de frango ao barbecue</h6>
					<p class="card__author">por Jorge Relato</p>
        </div>
			</section>
		</main>
  </div>

  <footer>
		<span class="footer__span">Todos direitos reservados, receitas Foodfy.</span>
  </footer>

  <div class="modal-overlay">
    <div class="modal">
      <img class="card__image"  src="" alt="">
			<h6 class="card__title"></h6>
      <p class="card__author"></p>
      <span class="close-modal">Fechar modal</span>
    </div>
  </div>

  <script src="/js/scripts.js"></script>
</body>
</html>