@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
  --author-color: #777777;
  --default-black: #111111;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;

  text-decoration: none;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 32px auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav__logo {
  margin-right: 122px;
}

.nav__item a {
  margin-right: 30px;
  font-size: 16px;
  color: var(--default-black);
}

.info {
  margin: 36px 0 50px;
  background: #FBDFDB;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info--description {
  width: 100%;
  max-width: 316px;
  margin-left: 60px;
}

.description__title{
  color: var(--default-black);
  font-size: 32px;
}

.description__text {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

.info__image {
  margin-top: 66px;
  margin-right: 100px;
}

.main__title {
  font-size: 24px;
  color: var(--default-black);
  margin-bottom: 20px;
}

.card {
  cursor: pointer;
}

.card__image {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.card__title {
  font-size: 18px;
  color: var(--default-black);
}
 
.card__author {
  font-size: 14px;
  color: var(--author-color);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px 0  0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #EEEEEE;
  height: 66px;
}

.footer__span {
  text-align: center;
  font-size: 14px;
  color: #999999;
}

/* ABOUT */

.main-about {
  margin-top: 50px;
}

h1.topic__title{
  font-size: 24px;
}

.topic__title {
  font-size: 20px;
  color: var(--default-black);
}

.topic__paragraph {
  font-size: 18px;
  line-height: 28px;

  color: #444444;

  margin: 20px 0 30px;
}

/* RECIPES PAGE */

.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  margin-top: 50px;
}

/* RECIPE PAGE */

.presentation {
  margin: 50px 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.presentation__image {
  width: 100%;
  max-width: 940px;
  height: 100%;
  max-height: 280px;

  border-radius: 15px;

  margin-bottom: 50px;
}

.presentation__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;

  color: var(--default-black);
}

.presentation__author {
  font-size: 20px;
  line-height: 24px;

  color: var(--author-color);
}

.description-group + .description-group {
  margin-top: 40px;
}

.description-group-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: start;

  margin-bottom: 20px;
}

.description-group-header__title {
  font-size: 24px;
  line-height: 28px;

  color: var(--default-black);
}

.description-group-header span {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;

  cursor: pointer;

  color: #999999;
  margin-left: 8px;
}

.description-group-content {
  display: none;
}

.description-group-content.active {
  display: block;
}

.description-group ul {
  list-style-position: inside;
}

.description-group ul li,
.description-group p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #444444;
}

/* === ADMIN INDEX === */

.admin nav {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;
  background-color: var(--default-black);
}

.admin nav img {
margin-left: 230px;
}

.admin .wrapper {
  margin-top: 128px;
}

.admin .button {
  background-color: #6558C3;
  border-radius: 4px;
  padding: 8px 16px;

  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;

  display: block;
  width: max-content;
  margin-left: auto;

}

/* === FORM === */

form .input-group {
  margin-bottom: 30px;
}

form label {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: var(--default-black);

  margin-bottom: 10px;
}

input,
textarea {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;

  margin-top: 10px;
  padding: 15px 20px;

  font-size: 16px;
  line-height: 19px;
  color: var(--default-black);
}

textarea {
  min-height: 256px;
  resize: vertical;
}

button.new-ingredient,
button.new-step {
  margin-top: 10px;

  font-size: 16px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  color: #6558C3;

  background: none;
  border: none;

  cursor: pointer;
}

/* === EDIT === */

.wrapper.edit,
.wrapper.create {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.wrapper.edit h3,
.wrapper.create h3 {
  margin: 0;
}

.wrapper.edit .buttons {
  display: flex;
}

.wrapper.edit button,
.wrapper.create button {
  border: none;
  cursor: pointer;
}
.wrapper.edit form button {
  margin-right: 10px;
  background-color: #DC4747;
}

