{% extends 'public/layout.njk' %}

{% block title %}
  <title>Foodfy</title>
{% endblock %}

{% block content %}
  <section class="info">
    <div class="info--description">
      <h1 class="description__title">As melhores receitas</h1>
      <p class="description__text">
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <img class="info__image" src="/img/chef.png" alt="Chef de cozinha em cartoon">
  </section>

  <main>
    <h3 class="main__title">Mais acessadas</h3>
    {% include 'common/recipes-cards.njk' %}
  </main>
{% endblock %}