{% extends 'public/layout.njk' %}

{% block title %}
  <title>Receitas | Foodfy</title>
{% endblock %}

{% block recipeHighlight %} <strong>Receitas</strong> {% endblock %} 

{% block content %}
  <main>
    <section class="recipes">
      {% for recipe in recipes %}
        <a href="/recipes/{{loop.index0}}" class="card">
          <img class="card__image" src="{{recipe.image}}" alt="{{recipe.title}}">
          <h6 class="card__title">{{recipe.title}}</h6>
          <p class="card__author">por {{recipe.author}}</p>
        </a>
      {% endfor %}
    </section>
  </main>
{% endblock %}