{% extends 'public/layout.njk' %}

{% block title %}
  <title>Receitas | Foodfy</title>
{% endblock %}

{% block recipeHighlight %} <strong>Receitas</strong> {% endblock %} 

{% block content %}
  <main>
    {% include 'common/recipes-cards.njk' %}
  </main>
{% endblock %}